
name: System Automation Workflow

on:
  workflow_dispatch:
  pull_request:

jobs:
  automation:
    runs-on: windows-latest  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set environment variables
        run: |
          echo "MY_SECRET=${{ secrets.MY_SECRET }}" >> $GITHUB_ENV

      - name: Run Bash script
        run: |
          chmod +x ./scripts/system-script.sh


